:root{
    --color-white: #ffffff;
    }

    *{
        font-family:Arial sans-serif;
        margin: 0;
      
    
    }
    .header{
        width: 100%;
        background:linear-gradient(45deg, 
        #ed213a, #333333,#dd1818);
        animation: gradient 10s ease infinite;
        background-size: 400% 400%;
    }
    @keyframes gradient {
        0% {
          background-position: 0% 50%;
        }
      
        50% {
          background-position: 100% 50%;
        }
      
        100% {
          background-position: 0% 50%;
        }
      }
      
    .container{
        
       margin: 0px 20px;
    }
    .header-top{
        padding: 40px 0;
    }
    .header-top-links{
        text-align: center;
    
    }
    .header-top-links-btn{
        text-decoration: none;
        color: var(--color-white);
        font-size: 20px;
        padding: 15px 20px;
    }
    .header-bottom{
        padding: 140px 0 180px;
        box-sizing: border-box;
    }
    .header-bottom-text{
        text-align: center;
        width: 70%;
        display: block;
        margin: auto;
    }
    .header-bottom h1{
        color: var(--color-white);
        font-weight: 600;
        line-height:80px;
        font-size: 60px;
    
    }
    h1{
        display: block;
        margin-block-start: 0.67rem;
        margin-block-end: 0.67rem;
        margin-inline-start: 0px;
        unicode-bidi: isolate;
    }
    .cards{
        padding: 140px 0;
    
      
    }
   
   
    
    .card-items{
        display: grid;
        grid-template-columns: repeat(3, 1fr)  ;
        grid-column-gap: 1rem;
    }
    .card-items-item{
        
      border-radius: 15px;
      border: 3px solid  #524f4f ;
      padding: 10px 10px;

      
    }
    .card-items-item-title{
        color: #ab0404;
        font-weight: 600;
        padding: 20px 5px;
        text-align: center;
    }
    .card-items-tem-text{
        line-height: 30px;
        padding: 20px 20px;
      
    }
    .card-items-item-img img{
        height: 85px;
        display: flex;
        margin: auto;
    }
    .card-items p{
      color: #000;
    }

     
   .about{
    background-color: #8f0000;
    padding-bottom: 120px;
   }
   .about-wrap{
    margin: 0 160px;
   }
   .about-wrap-title {
    padding-top: 120px;
  }
  .about-wrap-title h2{
    font-size: 36px;
    font-weight: bold;
  }
  .about-wrap-text p{
font-size: 21px;
  }
  .about-wrap-title h2, p{
    color: #fff;
    text-align: center;
  }
  .about-wrap-text{
    margin-top: 40px;
  }
 .about-wrap-content{
    margin-top: 50px;
    border-radius: 28px;
    position: relative;
    
  }
  .about-wrap-content-img{
    display: flex;
 
    position: relative;
    left: 0;
    top: 0;
    margin: auto;
  width: 77vw;
 
  
  }
.about-wrap-content-shadow{
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

.about-wrap-video-button{
    position: absolute;
    background-color: #8f0000;
    color: #fff;
    z-index: 2;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    border-radius: 1200px;
    height: 50px;
    width: 100%;
    max-width: 320px;
    font-size: 16px;
    font-weight: 600;
}
.about-wrap-video-button:hover{
    background-color: #524f4f;
    transition: all 0.2s ease;
}
.about-wrap-video-button a{
  text-decoration: none;
  color: #fff;
  
}
.swiper-title{
  margin-top: 150px;
  margin-bottom: 20px;
}
.swiper-title h2{
  text-align: center;
  color: #dd1818;
  font-weight: bold;
  font-size: 3rem;
}
.slide-img-tem{
  width: 30vw;
  border-radius: 15px;
}

.swiper-slide-img{
  margin: 0;
  padding: 20px 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  margin-left: 2rem;
}
footer{
  margin-top: 4rem;
  background-color: #524f4f;
}
.footer-info{
  padding-top: 6rem;
  margin-left: 6rem;
  margin-right: 6rem;
 
}
.footer-sign{
position: absolute;
border-radius: 50%;
border:2px solid  #fff;
}
.footer-sign p {
  font-size: 4rem;
}
.footer-text{
 padding-left: 8rem;
}
.footer-title{
  margin-bottom: 1rem;
}
.footer-title h3{
  color: #fff;
  font-size: 1.5rem;
  font-weight: 550;
}
.footer-info-text p{
  color: #fff;
  font-size: 1.2rem;
 text-align: left;
 line-height: 30px;
}
.footer-info-text{
  margin-bottom: 5rem;
}
.footer-links a{
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  margin-right: 2rem;
}
.footer-links{
  text-align: center;
  margin-bottom: 3rem;
}
.footer-cookie{
  text-align: center;
  padding-bottom: 3rem;
}
.footer-cookie p{
  color: #fff;
  font-size: 14px;
}
@media(max-width: 1400px){
  .about-wrap-content-img{
    height: auto;
    width: 100%;
    max-width: 1190px;
  }
}

